.blocksColor{
    background-color: #017479;
}
.blocksColor-2{
    background-color: white;
}
.blocksColor-3{
    background-color: #fed53f;
}
.customMenucolorBlue{
    color: #478ac9 !important;
}
.textColor{
    color: black!important;
}
.linkCustomclolor{
    color: #adcce9;
}
.whiteColor{
    color: #FFFFFF !important;
}
.h2Title{
    font-size: 3.5rem!important;
}
.contactUsTitle{
    font-size: 93px!important;
}
.navLogo{
    vertical-align: 0px;
    display: block;
}
.logoimg{
    height: 32px;
}
.nav-item > a:hover{
    color: #db545a !important;
}
.nav-item{
    font-size: 1rem;
    letter-spacing: 0px;
    line-height: 1;
    font-family: 'Open Sans',sans-serif;
    padding: 10px 6px!important;
}
.nav-item > a{
    display: block;
    white-space: nowrap;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
    font-style: inherit;
    font-weight: inherit;
    text-decoration: none;
    border: 0 none transparent;
    outline-width: 0;
    background-color: transparent;
    margin: 0;
}
.teamMembers{
    margin: 44px auto 44px 0;
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.team{
    min-height: 100%;
    box-sizing: border-box;
}
.teamConf{
    flex: 30 0 50%;
    min-height: fit-content;
    max-width: 100%;
}
#member{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}
.membersName{
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-top: 80px;
   
}
.memberBlock{
    display: flex;
    flex-direction: column;
}
.position{
    font-weight: 700;
    margin: 12px 0 0;
    color: #db545a !important;
    word-wrap: break-word;
    position: relative; 
}
.aboutMember{
    font-style: italic;
    margin: 23px;
}

.customTitle{
    font-size: 4.5rem;
    font-weight: 400;
    font-family: Oswald, sans-serif !important;
    margin: 58px auto 0;
    text-align: center;
}
.customWidgetitle{
    font-size: 2.5rem;
    font-weight: 400;
    font-family: Oswald, sans-serif !important;
}
.customDesc{
    font-style: italic;
    max-width: 600px;
    margin: 16px auto 0;
    text-align: center;
    line-height: 1.6;
    font-size: 1rem;
}
.socialIcon{
    white-space: nowrap;
    height: 32px;
    min-height: 16px;
    width: 150px;
    min-width: 130px;
    margin: 30px auto 60px;
    display: flex;
}
.socialIcon > a{
    height: 100%;
    display: inline-block;
    flex: 1;
    justify-content: space-between;
}
.socialIcon > a > img{
    height: 100%!important;
}
.footer{
    bottom: 0;
    font-size: 0.875rem;
}
.imgHeight{
    min-height: 393px;
}
.cardInfoblock{
    max-height: 50%;
}

@media (max-width: 767px){
    .card-block{
        margin-bottom: 15px;
    }

}

/* Announcement block */
.annonBlock-1{
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
}
.annonBlock-2{
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
}
.announcement-item{
    width: 100%;
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url('/images/test/travel.jpg'); 
    background-size: cover; 
    min-height:278px;
    border: 5px solid #017479;
}
/* .announcement-item::before{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    z-index: -1;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url('/images/test/travel.jpg');; 
    background-size: cover; 
    min-height:278px;
} */
.announcement-item:hover{
    transition: all .5s ease-in-out;
    /* transform: scale(1.033); */
    /* height: 100%; */
}
.announcement-widget{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}
.announcement-item > h6{
    font-weight: bold;
    line-height: 27px;
    opacity: 0;
    transition: 0.5s ease-in-out;
    
}
.announcement-item:hover > h6{
    transition: 0.5s ease-in-out;
   z-index: 999;
   background-color: #ffffffc7;
   margin-bottom: 0rem;
    padding: 4%;
    opacity: 1;
}
@media (max-width: 1050px){
    .announcement-widget{
        flex-direction: column;
    }
    .annonBlock-1{
        flex: 0 0 66.66666667%;
        max-width: 100%;
    }
    .annonBlock-2{
        flex: none;
        max-width: none;
        display: flex;
        flex-direction: row;
    }

}
@media (max-width: 770px){
    .annonBlock-1 > .row{
        flex-direction: column;
    }
    .annonBlock-2{
        flex-direction: column;
    }

}
@media (max-width: 870px){
    .annonBlock-1 > .row{
        flex-direction: column;
    }
    .annonBlock-2{
        flex-direction: column;
    }
    .customWidgetitle{
        text-align: center;
        margin-bottom: 2rem;
    }

}
@media (max-width: 570px){
    .customTitle{
        font-size: 2.5rem!important;
    }
    .customWidgetitle{
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

}
/* Anouncement block end */

/* News block */
.news{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 20px;

}
.newsItem{
    display: flex;
    flex-direction: row;
    background: #017479;
    padding-bottom: 25px;
}
.image{
    height: 216px;
    width: 301px;
    min-width: 301px;
}
.shortNewstext{
    width:73.3%;
    display: flex;
    flex-direction: column;
    padding-left: 39px;
    justify-content: space-between;
}
.shortNewstext > button{
    width: 200px;
}
.button{
    background-color: transparent;
    border: 3px solid #FFFFFF;
    font-weight: 400;
    line-height: 1.5;
    color: #f9fafb;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.button:hover{
    border: 3px solid black;
    color: black;
}
@media (max-width: 780px){
    .newsItem {
        display: flex;
        flex-direction: column;
    }
    .shortNewstext{
        padding-left: 0px;
        padding-top: 20px;
        width: 100%;
        text-align: justify;
    }
    .image{
        width: 100%;
        height: 20%;
    }
    .button{
       margin: 0 auto;
    }
    .shortNewstext > h3{
        text-align: center;
    }
}
/* News block end */

/* popUp */

.customTimelineTitle{
    font-size: 3rem;
    font-weight: 400;
    font-family: Oswald, sans-serif !important;
    text-align: center;
    padding: 17px;
}

.inPopupImage{
    width:100%;
}
.inPopupImageScroll{
    width:281px;
}
.inPopupText{
    display: flex;
    flex-direction: row;
    text-align: justify;
}
.inPopupText > p{
    padding: 20px;
}

#slide{
    width: 100%!important; 
    margin: 0 auto;
}
#sliderText{
    padding:0px; 
    padding-left:45px;
}
@media (max-width: 767px){
    #sliderText{
        text-align: center;
    }
}
