.customMenucolorBlue{
    color: #478ac9 !important;
}
.nav-item > a:hover{
    color: #db545a !important;
}
.nav-item{
    padding: 10px 20px;
}
.logoimg{
    height: 32px;
}
.customBgcolor{
    background-color: #FFD741;
}
.customBgfooter{
    background-color: #333333;
}
.customTitle{
    font-size: 4.5rem;
    font-weight: 400;
    color: #db545a !important;
    font-family: Oswald, sans-serif !important;
    margin: 58px auto 0;
}
.customDesc{
    font-style: italic;
    width: 600px;
    margin: 16px auto 0;
    text-align: center;
    color: #111111;
    line-height: 1.6;
    font-size: 1rem;
}
.footer{
    position: absolute;
    bottom: 0;
}

