.customMenucolorBlue{
    color: #478ac9 !important;
}
.navLogo{
    vertical-align: 0px;
    display: block;
}
.logoimg{
    height: 32px;
}
.nav-item > a:hover{
    color: #db545a !important;
}
.nav-item{
    font-size: 1rem;
    letter-spacing: 0px;
    line-height: 1;
    font-family: 'Open Sans',sans-serif;
    padding: 10px 6px!important;
}
.nav-item > a{
    display: block;
    white-space: nowrap;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
    font-style: inherit;
    font-weight: inherit;
    text-decoration: none;
    border: 0 none transparent;
    outline-width: 0;
    background-color: transparent;
    margin: 0;
}
.teamMembers{
    margin: 44px auto 44px 0;
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.team{
    min-height: 100%;
    box-sizing: border-box;
}
.teamConf{
    flex: 30 0 50%;
    min-height: fit-content;
    max-width: 100%;
}
#member{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}
.membersName{
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-top: 80px;
   
}
.memberBlock{
    display: flex;
    flex-direction: column;
}
.position{
    font-weight: 700;
    margin: 12px 0 0;
    color: #db545a !important;
    word-wrap: break-word;
    position: relative; 
}
.aboutMember{
    font-style: italic;
    margin: 23px;
}
.customBgcolor{
    background-color: #FFD741;
}
.customBgfooter{
    background-color: #333333;
}
.customTitle{
    font-size: 4.5rem;
    font-weight: 400;
    color: #db545a !important;
    font-family: Oswald, sans-serif !important;
    margin: 58px auto 0;
}
.customDesc{
    font-style: italic;
    max-width: 600px;
    margin: 16px auto 0;
    text-align: center;
    color: #111111;
    line-height: 1.6;
    font-size: 1rem;
}
.socialIcon{
    white-space: nowrap;
    height: 32px;
    min-height: 16px;
    width: 150px;
    min-width: 130px;
    margin: 30px auto 60px;
    display: flex;
}
.socialIcon > a{
    height: 100%;
    display: inline-block;
    flex: 1;
    justify-content: space-between;
}
.socialIcon > a > img{
    height: 100%!important;
}
.footer{
    bottom: 0;
    font-size: 0.875rem;
}
.imgHeight{
    min-height: 393px;
}
.cardInfoblock{
    max-height: 50%;
}

@media (max-width: 767px){
    .card-block{
        margin-bottom: 15px;
    }

}